html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.word {
  text-align: center;
  margin: 0px;
  display: inline;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.noun {
  background-color: plum;
}

.verb {
  background-color: cornflowerblue;
}

.adjective {
  background-color: coral;
}

.adverb {
  background-color: forestgreen;
}

.article {
  background-color: #ffffff;
}