#page {
    position: fixed;
    top: 11%;
    height: 89%;
    width: 100%;

    z-index: 100000;
    background-color: white;
    
}


#lang-select {
    position: absolute;
    z-index: 9999;

    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;

}

#lang-options {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 80%;
}

.lang {
    all: unset;

    cursor: pointer;

    width: 25%;
    height: 90%;
    background-color: #f3f3f3;

    border-radius: 30px;

    margin-left: 5px;
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.lang.selected {
    border: 4px solid dodgerblue;
}
.lang#german {
    background-size: cover;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1200px-Flag_of_Germany.svg.png");
}
.lang#norwegian {
    background-size: contain;
    background-image: url("http://panel.mogus.lol/image.png");
}

.lang h2 {
    font-size: 5vw;
    font-weight: 400;
    
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}


.start-btn {
    all: unset;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 2.4vw;
    font-weight: 500;
    padding: 0.4vw;
    padding-right: 4.2vw;
    padding-left: 4.2vw;
    cursor: pointer;

    width: 40%;
    height: 6%;
    
    margin-top: 0%;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}
.bold {
    font-weight: bolder;
}

#question {
    position: absolute;
        
    width: 65%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    margin: 0px;
}

#question h2 {
    width: 100%;
    text-align: center;
    font-size: 3vw;
}


#svar-input {
    position: relative;
    margin: 0px;
    width: 42%;
    height: 10%;
    margin-bottom: 10px;
}
#svar-input-text {
    all: unset;
    position: absolute;
    border: 1px solid black;
    border-radius: 2px;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    font-size: 2.5vw;
    text-align: center;
    padding: 0px;
    background-color: white;
}
#svar-input-load {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: green;
    border: 1px solid green;
    animation: swipe 0.7s;
    animation-iteration-count: infinite;
}


#svar-input-correct {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}

@keyframes swipe {
    from { width: 0%; }
    to {width: 100%;}
}

#answer-buttons {
    margin-top: 5px;
    width: 45%;
    height: 10%;;
    display: flex;
    justify-content: space-between;
}

.answer-button {
    all: unset;
    display: inline;

    cursor: pointer;


    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 2.4vw;
    overflow-wrap: nowrap;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: dodgerblue;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.answer-button:first-child {
    background-color: gainsboro;
}